*.o
*.lo
*.la
*.a
*.so
*.gcda
*.gcno
tscb/config.h
tscb/*_test
tscb/detail/*_test
tscb/*_test.coverage
tscb/detail/*_test.coverage
Makefile
autom4te.cache
config.log
config.status
configure
doc
libtscb.pc
libtscb.so
libtscb.so.*
debian/.debhelper
debian/debhelper-build-stamp
debian/autoreconf.*
debian/*.substvars
debian/libtscb-dev/*
debian/libtscb0/*
debian/libtscb0-dbg/*
debian/tmp
debian/*.debhelper.log
.dep
