*.o
*.lo
*.la
*.a
*.so
tscb/config.h
tscb/*_test
Makefile
autom4te.cache
config.log
config.status
configure
doc
libtscb.pc
libtscb.so
libtscb.so.*
debian/.debhelper
debian/debhelper-build-stamp
debian/autoreconf.*
debian/*.substvars
debian/libtscb-dev/*
debian/libtscb0/*
debian/libtscb0-dbg/*
debian/tmp
debian/*.debhelper.log
.dep
